---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <img src="/favicon.svg" alt="Michael Prestonise" width="32" height="32" class="h12 mb-6" />
  <article class="prose">
    <h1 class="text-title">Hello, I'm Michael</h1>
    <p class="font-bold">I love technology.</p>
    <p>
      It began when I booted up my first computer at age 10 and learned how to navigate the operating system. It
      continued when I logged on to the internet for the first time and heard those wonderful sounds the modem made. I
      remember taking my first pictures with a digital camera, editing them in Photoshop, and posting them on my own
      Geocities website
    </p>
    <p>
      Today, I design and build services and applications, leveraging the power intelligent machines, creating valuable
      experiences, and being continually inspired by others who have found creative ways to use technology to express
      themselves and share experiences
    </p>
    <p>
      I am as much an enthusiastic hobbyist as I am a professional product leader / designer / engineer. I love learning
      new technologies, expanding my skillset, and trying new things. I enjoy the challenges and rewards of putting the
      pieces of the puzzle together
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
